<div class="wrapper">
  <!-- ####################################################################################################### -->
  <div id="header">
    <div class="fl_left">
      <h1><a href="#">myNYP.org</a></h1>
    </div>
    <div class="fl_right"><a href="#"><img src="/assets/NYPlogo-long.jpg" alt="" /></a></div>
    <br class="clear" />
  </div>
  <!-- ####################################################################################################### -->
  <div id="topbar">
    <div class="fl_left">
      <form action="#" method="post">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" value="Search the site&hellip;"  onfocus="this.value=(this.value=='Search the site&hellip;')? '' : this.value ;" />
          <input type="submit" name="go" id="go" value="GO"/>
        </fieldset>
      </form>
    </div>
    <div id="topnav">
      <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="sessionview/index.html">VideoChat Demo</a></li>
        <li><a href="sessionview/index">Talk To a Doctor Now</a></li>
        <li><a href="#">DropDown</a>
          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </li>
        <li class="last"><a href="#">A Long Link Text</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
  <!-- ####################################################################################################### -->
  <div id="intro">
	
	<div class="fl_left"> <a href="#"><img height=330 width=360 src="/assets/Patients.jpg" alt="" /></a> </div>
    
	<div class="fl_right">
	  
      <h2>Not Just Another Hospital - It's <i>Your</i> Hospital.</h2>
      <p>Welcome to the new myNYP.org portal!</p>
      <p>myNYP.org is a free and secure service that lets you. . .</p>
 		<p></p>
    </div>


    <br class="clear" />
  </div>
  <!-- ####################################################################################################### -->
  <div id="homecontent">
    <ul>
      <li>
        <h2>Nullamlacus dui ipsum</h2>
		<div height="300" id="remoteVideos"></div>
        <img class="imgl" src="images/demo/60x60.gif" alt="" />
        <p>Nullamlacus dui ipsum conseque lobor ttis non euisque morbi pen as dapibulum orna. Urna ultrices quis curabitur phas nullamlacus. Nullamlacus dui ipsum conseque lobor ttis non euisque morbi penas dapibulum orna. Urna ultrices quis curabitur phas ellen tesque con gue magnis vestibulum quismodo nulla et feu giat adipiscin iapellentum leo ut.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </li>
      <li>
        <h2>Nullamlacus dui ipsum</h2>
        <img class="imgl" src="images/demo/60x60.gif" alt="" />
        <p>Nullamlacus dui ipsum conseque lobor ttis non euisque morbi pen as dapibulum orna. Urna ultrices quis curabitur phas nullamlacus. Nullamlacus dui ipsum conseque lobor ttis non euisque morbi penas dapibulum orna. Urna ultrices quis curabitur phas ellen tesque con gue magnis vestibulum quismodo nulla et feu giat adipiscin iapellentum leo ut.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </li>
      <li class="last">
        <h2>Nullamlacus dui ipsum</h2>
        <img class="imgl" src="images/demo/60x60.gif" alt="" />
        <p>Nullamlacus dui ipsum conseque lobor ttis non euisque morbi pen as dapibulum orna. Urna ultrices quis curabitur phas nullamlacus. Nullamlacus dui ipsum conseque lobor ttis non euisque morbi penas dapibulum orna. Urna ultrices quis curabitur phas ellen tesque con gue magnis vestibulum quismodo nulla et feu giat adipiscin iapellentum leo ut.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </li>
    </ul>
    <br class="clear" />
  </div>
  <!-- ####################################################################################################### -->
  <div id="imageline">
    <ul>
      <li><a href="#"><img src="images/demo/174x100.gif" alt="" /></a></li>
      <li><a href="#"><img src="images/demo/174x100.gif" alt="" /></a></li>
      <li><a href="#"><img src="images/demo/174x100.gif" alt="" /></a></li>
      <li><a href="#"><img src="images/demo/174x100.gif" alt="" /></a></li>
      <li class="last"><a href="#"><img src="images/demo/174x100.gif" alt="" /></a></li>
    </ul>
    <br class="clear" />
  </div>
  <!-- ####################################################################################################### -->
  <div id="footer">
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox last">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
  <!-- ####################################################################################################### -->
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <br class="clear" />
  </div>
  <!-- ####################################################################################################### -->
  <br class="clear" />
</div>