<script>
	//This initializes the fancybox css so that videos can pop out of the screen
	initFancyBoxSimple();
	initSlideshow();
	//getText();
</script>


<div class="wrapper">
  <!-- ####################################################################################################### -->
  <div id="header">
    <div class="fl_left">
      <h1><a href="#">myNYP.org</a></h1>
    </div>
    <div class="fl_right"><a href="#"><img src="/assets/NYPlogo-long.jpg" alt="" /></a></div>
    <br class="clear" />
  </div>
  <!-- ####################################################################################################### -->
  <div id="topbar">
    <div class="fl_left">
      <form action="#" method="post">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" value="Search the site&hellip;"  onfocus="this.value=(this.value=='Search the site&hellip;')? '' : this.value ;" />
          <input type="submit" name="go" id="go" value="GO"/>
        </fieldset>
      </form>
    </div>
    <div id="topnav">
      <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="sessionview/index.html">VideoChat Demo</a></li>
        <li><a href="videos">Videos</a></li>
        <li><a href="#">DropDown</a>
          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </li>
        <li class="last"><a href="#">A Long Link Text</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
  <!-- ####################################################################################################### -->
  <div id="intro">
	
	
	<!-- This container holds the slideshow for images -->
	<div id=fixeddiv class="container">
  
	   <div class="fl_left" id="slides">
			<div class="fl_left"> <a class="fancybox fancybox.iframe" href="http://www.youtube.com/embed/M3lFgtcOml0?autoplay=1"><img height=330 width=360 src="/assets/Patients.jpg" alt="" /></a> </div>
			<div class="fl_left"> <a class="fancybox fancybox.iframe" href="http://www.youtube.com/embed/yl80OgCFb3s?autoplay=1"><img height=330 width=360 src="/assets/patients2.png" alt="" /></a> </div>
    		<div class="fl_left"> <a class="fancybox fancybox.iframe" href="http://www.youtube.com/embed/TFgNyey0RzA?autoplay=1"><img height=330 width=360 src="/assets/patients3.png" alt="" /></a> </div>
		</div>
	</div>



	<div class="fl_right">
	  
      <h2>Not Just Another Hospital - It's <i>Your</i> Hospital.</h2>
      <p>Welcome to the new myNYP.org portal!</p>
      <p>myNYP.org is a free and secure service that lets you. . .</p>
	<a href="/assets/Patients.jpg" class="fancybox" title="Sample title"><img height=30 width=30 src="/assets/Patients.jpg" /> THIS IS FANCYBOX EXAMPLE</a>
 		<p></p>
