<script type="text/javascript" src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js"></script>

<script type="text/javascript">
	
	var apiKey    = '44684852';
	var sessionId = "2_MX40NDY4NDg1Mn5-VGh1IE1hciAxMyAxMDoyMzo1OCBQRFQgMjAxNH4wLjM5MTI2OTJ-";
	var token     = "T1==cGFydG5lcl9pZD00NDY4NDg1MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz00MWUwYzQ5YmI0ZGQwNjEzNzBhMWE1YWY3MTgxNGI3N2MyOWJmZWYwOnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9Ml9NWDQwTkRZNE5EZzFNbjUtVkdoMUlFMWhjaUF4TXlBeE1Eb3lNem8xT0NCUVJGUWdNakF4Tkg0d0xqTTVNVEkyT1RKLSZjcmVhdGVfdGltZT0xMzk0NzMxNDYyJm5vbmNlPTAuNzkzMjYyNjA1NjcxMTQ4MSZleHBpcmVfdGltZT0xMzk3MzIzNDM0JmNvbm5lY3Rpb25fZGF0YT0=";
	 

	var publisher = TB.initPublisher(apiKey, 'myPublisherDiv');
	var session = TB.initSession(sessionId);
	
	session.addEventListener('sessionConnected', function(e){
	  session.publish( publisher );
	  for (var i = 0; i < e.streams.length; i++) {
	    // Make sure we don't subscribe to ourself
	    if (e.streams[i].connection.connectionId == session.connection.connectionId) {
	      return;
	    }
	    session.subscribe(e.streams[i]);
	  }
	});
	
	session.addEventListener('streamCreated', function(e){
	  for (var i = 0; i < e.streams.length; i++) {
	    // Make sure we don't subscribe to ourself
	    if (e.streams[i].connection.connectionId == session.connection.connectionId) {
	      return;
	    }
	    // Create the div to put the subscriber element in to
	    var div = document.createElement('div');
	    div.setAttribute('id', 'stream' + e.streams[i].streamId);
	    document.body.appendChild(div);
	    session.subscribe(e.streams[i], div.id);
	  }
	});

	session.connect('44684852', token);
	
</script>

<h1>MyNYP Live</h1>
<div id="myPublisherDiv"></div>
<p>Welcome to the MyNYP Telemedicine, please wait for further users</p>
