/**
  * protoRx prototype
  *
  * This was rushed in two days, and coded as I designed... so it requires a little refactoring.
  *
  */

@import 'fonts.scss';
@import 'normalize.css';
@import 'foundation.css';
@import 'joyride.css';
@import 'bootstrap-components.css';

/* Base Colors */
$black:			#000000;
$grey95:		#F3F3F3;
$grey90: 		#e6e6e6;
$grey80: 		#cccccc;
$grey60:		#989898;
$grey40:		#666666;
$grey20:		#343434;
$white:			#ffffff;

/* Blue secondary colors */
$blueSubdued:	#008DC9;
$blueBright:	#00A4EE;
$blueAqua:		#4DD2FF;

/* Red 'Alert' colors */
$alertOff:		#C75144;
$alertOn:		#D9493B;

/* Yellow 'Warn' colors */
$warnOff:		#ECA550;
$warnOn:		#F0A23A;

/* Green 'Nominal' colors */
$nominalOff:	#99C651;
$nominalOn:		#A2DD3A;


/****************************************************************
 PAGE SETUP */

body {
	background: $grey95;
	font-family: 'SourceSansPro', Helvetica, Arial, Tahoma, sans-serif;
	font-weight: 400;
	color: $grey60; 
}

/****************************************************************
 GLOBAL + BASE STYLES */

p {
	margin: 0;
	padding: 0;
	line-height: 1;
}

a {
	color: $blueSubdued;
}

address {
	font-style: normal;
}

.severity {
	width: 21px;
	height: 21px;
	text-indent: -9999px;
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 3px;
	&.severity-severe {
		background: url(/assets/images/icn-attention.png) no-repeat;
	}
	&.severity-nominal {
		background: url(/assets/images/icn-resolved.png) no-repeat;
	}
}

.barcode {
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.number-circle {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    width: 36px;
    height: 36px;
    padding: 3px 7px;
    background: $grey40;
    border: 2px solid #666;
    color: $white;
    text-align: center;
    font-family: 'SourceSansPro', Helvetica, Arial, Tahoma, Verdana, sans-serif;
    font-weight: 700;
}

.alert {
	color: $alertOff;
	&.bg {
		background: $alertOff;
		color: $white;
	}
}

.warn {
	color: $warnOff;
	&.bg {
		background: $warnOff;
		color: $white;
	}
}

.nominal {
	color: $nominalOff;
	&.bg {
		background: $nominalOff;
		color: $white;
	}
}

.panel {
	padding: 15px;
}

/****************************************************************
 SECTION STYLES */

.fixed-header {
	background: $blueSubdued;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	display: block;
	p {
		color: $white;
		font-size: 1.4em;
		padding: 10px;
		small {
			font-weight: 200;
			font-size: 0.7em;
		}
	}
	.navigation ul {
		list-style-type: none;
		float: left;
		margin-bottom: 0;
		li {
			float: left;
			&:hover {
				background: $blueBright; 
			}
			&.active {
				background: $blueSubdued;
			}
			a {
				color: $white;
				line-height: 38px;
				padding: 0 10px;
				display: block;
			}
		}
	}
	.accessibility ul {
		list-style-type: none;
		float: right;
		margin-bottom: 0;
		li {
			float: left;
			&.tour {
				background: $blueAqua;
				a {
					color: $grey20;
					font-weight: 900;
					text-transform: uppercase;
				}
			}
			&.active {
				background: $black;
			}
			span {
				text-transform: uppercase;
				font-weight: 600;
			}
			a {
				color: $white;
				line-height: 38px;
				padding: 0 10px;
				display: block;
			}
		}
	}
}

section {

	margin-top: 30px;

	/* 01 NAME */
	&.name {
		margin-top: 60px;
		h1 {
    		font-family: 'SourceSansPro', Helvetica, Arial, Tahoma, Verdana, sans-serif;
			font-weight: 100;
			color: $grey60;
		}
	}

	/* 02 BIO */
	&.bio {
		margin-top: 20px;
		.panel {
			min-height: 127px;
			background: $white;
		}
		.patient-contact {
			address, p {
				font-size: 1.3em;
				line-height: 1.2em;
			}
			address {
				margin-bottom: 0.5em;
			}
		}
		.patient-proprietary {
			.barcode {
				margin: 15px 0;
			}
			p {
				font-size: 1.3em;
				line-height: 1.2em;
			}
		}
	}

	/* 03 ALLERGIES */
	&.allergies {
		.content {
			.panel {
				padding: 0;
			}
		}
	}

	/* 04 MEDICATIONS */
	&.medications {
		.content-inner {
			padding: 15px 0;
		}
		a { text-decoration: none; }

		.double {
			.medication-row {
				height: 20px;
				clear: both;
			}
			padding: 0;
			margin: 0;
			.medication-single {
				.panel {
					background: #EBEBEB;
					padding: 0;
					min-height: 235px;
				}
				margin-bottom: 15px;
			}
			.medication-category {
				background: #00D9A3;
				color: $white;
				text-transform: uppercase;
				width: 100%;
				padding: 14px 14px 12px 14px;
				font-weight: 700;
				&.durable {
					background: #8000FF;
				}
				&.discontinued {
					background: $alertOff;
				}
			}
			.medication-detail {
				width: 100%;
				.medication-rx {
					width: 68%;
					float: left;
					padding-bottom: 10px;

					h4 {
						padding: 8px 12px;
						font-weight: 200;
						font-size: 34px;
						small {
							font-weight: 200;
						}
					}
					.instructions {
						background: url(/assets/images/bg-callout.gif) no-repeat;
						margin-left: -7px;
						padding-left: 24px;
						padding-top: 40px;
						font-size: 24px;
						padding-bottom: 19px;
						margin-top: -19px;
						padding-right: 10px;
						color: $grey20;
					}
					.meta {
						padding: 14px;
						.meta-date,
						.meta-refills {
							padding: 5px;
							width: 42%;
							float: left;
							line-height: 1.3em;
							font-size: 14px;
							font-weight: 600;
							small {
								clear: both;
								display: block;
								text-transform: uppercase;
								font-weight: 200;
								font-size: 14px;
							}
						}
					}
				}
				.medication-illustration {
					width: 32%;
					float: left;
					clear: right;
					background: $grey40;
					min-height: 235px;
					&.discontinued {
						background: $alertOff;
						color: $white;
					}
					p {
						padding-top: 15px;
						text-align: center;
						line-height: 1.1em;
						font-size: 15px;
						text-transform: uppercase;
					}
					.single-day {
						padding: 10px;
						color: $white;
						line-height: 1.35em;
						clear: both;
						.day { 
							text-transform: uppercase; 
							float: left;
							width: 28px;
						} 
						.illus {
							float: left;
							padding-left: 6px;
							margin-top: -1px;
							.pill {
								background: url(/assets/images/icn-pill-small.png) no-repeat;
								height: 7px;
								width: 11px;
								display: inline-block;
							}
							.sep {

							}
						}
					}
				}
			}
		}

		.grid {
			/*margin: 15px 0;*/
			.column {
				.panel {
					background: $grey90;
					margin-bottom: 15px;
				}
				.medication {
					text-align: center;
					padding: 15px 0;
					h5 {
						text-transform: uppercase;
						color: $grey40;
						font-size: 13px;
						margin-top: 6px;
					}
				}
				.instructions {
					font-size: 14px;
					color: $grey20;
					padding-top: 10px;
					text-align: center;
				}
				.remaining {
					background: $blueSubdued;
					display: block;
					float: right;
					position: absolute;
					bottom: 15px;
					right: 15px;
					color: $white;
					font-size: 28px;
					span {
						display: block;
						padding: 5px 8px;
					}
					&.low {
						background: $alertOff;
					}
				}
				&.discontinued {
					.panel {
						background: $grey95;
						color: $grey80;
						.instructions, h5 {
							color: $grey80;
						}
						h4 {
							color: $alertOff;
						}
					}
				}
			}
		}
	}

	/* IMMUNIZATIONS / VACCINATIONS */
	&.immunizations {
		.action-banner {
			margin-bottom: 15px;
			padding: 20px;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 600;
		}
	}

	/* CARE PLAN */
	&.careplan {
		.content {
			padding: 25px;
		}
		.care-event {
			clear: both;
			.cal-date {
				float: left;
				width: 25%;
				padding: 15px;
				color: $white;
				font-size: 32px;
				text-align: center;
				font-weight: 600;
				background: $blueSubdued;
				small {
					clear: both;
					display: block;
					font-weight: 400;
				}
			}
			.cal-detail {
				padding: 15px;
				float: left;
				padding-bottom: 20px;

				h4 {
					margin-bottom: 6px;
				}
				p {
					font-size: 16px;
					line-height: 1.4em;
				}
			}
		}
	}

	/* CARE TEAM */
	&.careteam {
		.content { padding: 25px 40px; }
		.contact {
			margin: 25px 0;
			h4 {
				color: $blueSubdued;
				font-size: 28px;
				small {
					color: $grey40;
					font-weight: 200;
				}
			}
			p {
				font-size: 18px;
				line-height: 1.5em;
			}
		}
	}

	/* LAB RESULTS */
	&.labs {
		.content {
			background: $white;
			padding: 0;
			margin-bottom: 24px;
			&:hover h3,
			&.open h3 {
				background: $blueSubdued;
				color: $white;
				small {
					color: $white;
				}
			}
			h3 {
				padding: 15px;
				font-weight: normal;
				padding-bottom: 20px;
    			font-family: 'SourceSansPro', Helvetica, Arial, Tahoma, Verdana, sans-serif;
				font-weight: 200;
				small {
					color: $grey60;
					padding-left: 5px;
				}
			}
			.row {
				display: none;
				&:last-child { padding-bottom: 15px; }
				.panel {
					padding: 7px 15px;
				}
				h4 {
    				font-family: 'SourceSansPro', Helvetica, Arial, Tahoma, Verdana, sans-serif;
					font-weight: 700;
					font-size: 1.25em;
					font-weight: normal;
				}
				p {
					font-size: 1.1em;
					line-height: 1.3em;
				}
			}
		}

		.lab-result-strip {
			width: 100%;
			.lab-result {
				float: left;
				display: inline-block;
				h4 {
					font-size: 18px;
					font-weight: 600;
					padding: 10px 10px 8px 10px;
				}
			}
			&.interior {
				padding: 0 15px;
			}
			.lab-result-numbers {
				padding: 10px;
				font-size: 18px;
				line-height: 1.3em;
				background: $grey60;
				color: $white;
				small {
					display: block;
					clear: both;
					font-size: 13px;
				}
			}
			.graph-vertical-container {

			}
		}

		.graph-horizontal + .row {
			margin-top: 45px;
		}

		.graph-horizontal-small {
			margin-top: 0;
			margin-bottom: 18px;
		}

		.lab-result.closed,
		.lab-result.open {
			cursor: pointer;
		}

					

	}

	&.updates {
		background: $grey80;
		margin-top: 0;
	}
	
}

.disclaimer {
	padding: 15px;
	p {
		text-align: center;
		line-height: 1.5em;
	}
}

/****************************************************************
 CONTENT STYLES */

 .tile-bignumber {
 	h2, p {
 		text-decoration: none;
 		text-transform: uppercase;
 		text-align: center;
 	}
 	h2 {
 		font-size: 69px;
 	}
 }

.next-steps {
	background: #ffff99;
	padding: 5px;
	color: $grey20;
	font-size: 16px;
}

.table {
	width: 100%;
	.panel {
		padding: 15px 0;
	}
	table {
		width: 100%;
	}
	tr:hover {
		background: #fafafa;
	}
	thead {
		td {
			background: $grey95;
			padding: 8px;
			font-size: 16px;
			font-weight: 600;
			line-height: 1.4em;
		}
	}
	tbody {
		td {
			padding: 8px;
			border-bottom: 1px solid $grey95;
			font-size: 15px;
			vertical-align: top;
			font-size: 16px;
			line-height: 1.4em;

		}
	}
	.table-date {
		width: 15%;
	}
	.table-type {
		width: 15%;
	}
	.table-goals,
	.table-outcomes {
		width: 35%;
	}
}

.timeline {
	.timeline-years {
		background: $grey80;
		display: block;
		clear: both;
		padding: 6px 0 10px 0;
		ul {
			list-style-type: none;
			padding: 0 5px;
			padding-left: 13px;
			li {
				float: left;
				color: $grey20;
				display: block;
				padding: 0px 10px;
				font-size: 14px;
			}
		}
	}
	.timeline-rail {
		height: 6px;
		background: $alertOn;
		display: block;
		position: relative;
		.timeline-indicator {
			background: url(/assets/images/icn-timeline-indicator.png) no-repeat;
			width: 15px;
			height: 15px;
			position: absolute;
			top: -4px;
			&.timeline-indicator-stretch {
				background: url(/assets/images/icn-timeline-indicator-tail.png) no-repeat;
			}
		}
	}
	.resolved .timeline-rail {
		background: $nominalOff;
	}
	a.summary {
		background: #eaeaea;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #eee 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #eee 0%,#ffffff 100%);
		background: -o-linear-gradient(top, #eee 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #eee 0%,#ffffff 100%);
		background: linear-gradient(to bottom, #eee 0%,#ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
		display: block;
		padding: 15px;
		&:hover {
			background: #fff;
		}
	}
	h3 {
		font-weight: 400;
		padding-bottom: 5px;
		color: $alertOff;
	}
	h4 {
		font-weight: 400;
		color: $grey60;
		font-size: 14px;
	}
	.detail {
		background: $white;
		padding: 0 15px 15px 15px;
		p {
			line-height: 1.3em;
			&:first-child {
				padding-bottom: 7px;
			}
		}
	}
	.closed .detail {
		display: none;
	}
	.resolved h3 {
		color: $nominalOff;
		background: url(/assets/images/icn-resolved.png) no-repeat;
		background-position: left 3px;
		padding-left: 30px;
	}
	.resolved h4 {
		padding-left: 31px;
	}
}

.listing {
    font-family: 'SourceSansPro', Helvetica, Arial, Tahoma, Verdana, sans-serif;
	font-weight: 600;
	ul {
		list-style-type: none;
		margin: 0 0;
		padding: 0;
		li {
			margin-left: 0;
			padding-left: 0;
			font-size: 1.5em;
			.detail {
				/*margin-left: 8px;
				padding-left: 12px;*/
				//&.iconed {
					margin-left: 16px;
					padding-left: 20px;
				//}
				color: $grey60;
				margin-bottom: 15px;
				border-left: 3px solid $grey95;
				p {
					margin: 0;
					padding: 0;
					&:first-child {
						margin-bottom: 0.6em;
					}
				}
			}
			&.closed {
				.detail {
					display: none;
				}	
			}
			a.line-item {
				color: inherit;
				display: block;
				border-radius: 5px;
				text-decoration: none;
				padding: 2px 8px;
				line-height: 1.75em;
				margin-bottom: 5px;
				&:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
				}
				&:hover {
					background: #fafafa;
				}
			}
		}
	}

	p {
		padding: 5px;
	}
	small {
    	font-family: 'SourceSansPro', Helvetica, Arial, Tahoma, Verdana, sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: $grey40;
	}
}

.headline {
	.panel {
		background: $grey40;
		color: $white;
		h2 {
			font-size: 1.3em;
			font-family: 'SourceSansPro', Helvetica, Arial, Tahoma, Verdana, sans-serif;
		}
	}
	&.alert .panel {
		background: $alertOff;
	}
}

.content {
	background: $white;
}

.graph-horizontal,
.graph-horizontal-small {
	width: 100%;
	height: 12px;
	position: relative;
	.graph-horizontal-previous {
		display: block;
		width: 12px;
		height: 11px;
		background: url(/assets/images/sprite-previous.png) no-repeat;
		float: left;
		position: absolute;
		&.graph-horizontal-previous-2 {
			background-position: left -111px;
		}
		&.graph-horizontal-previous-3 {
			background-position: left -222px;
		}
	}
	.graph-horizontal-marker {
		position: absolute;
		top: 0;
		background: url(/assets/images/icn-marker.png) no-repeat;
		width: 34px;
		height: 34px;
		top: -11px;
		span {
			width: 100px;
			position: relative;
			display: block;
			top: 38px;
			font-size: 1.5em;
			padding-left: 7px;
			display: none;
		}
	}
	.graph-horizontal-labels {
		display: none;
		position: absolute;
		top: -18px;
		width: 100%;
		ul {
			list-style-type: none;
			li {
				float: left;
				display: block;
				padding-left: 5px;
				line-height: 1em;
				font-size: 1em;
				padding: 10px;
				border-right: 1px dotted $grey80;
				&:last-child {
					border-right: none;
				}
			}
		}
	}
}

.graph-horizontal-fbs {
	background: #9ac652;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlhYzY1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMyJSIgc3RvcC1jb2xvcj0iIzlhYzY1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2VjYTY1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iI2VjYTY1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2Q5NDgzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOTQ4M2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #9ac652 0%, #9ac652 32%, #eca650 35%, #eca650 55%, #d9483b 57%, #d9483b 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9ac652), color-stop(32%,#9ac652), color-stop(35%,#eca650), color-stop(55%,#eca650), color-stop(57%,#d9483b), color-stop(100%,#d9483b));
	background: -webkit-linear-gradient(left,  #9ac652 0%,#9ac652 32%,#eca650 35%,#eca650 55%,#d9483b 57%,#d9483b 100%);
	background: -o-linear-gradient(left,  #9ac652 0%,#9ac652 32%,#eca650 35%,#eca650 55%,#d9483b 57%,#d9483b 100%);
	background: -ms-linear-gradient(left,  #9ac652 0%,#9ac652 32%,#eca650 35%,#eca650 55%,#d9483b 57%,#d9483b 100%);
	background: linear-gradient(to right,  #9ac652 0%,#9ac652 32%,#eca650 35%,#eca650 55%,#d9483b 57%,#d9483b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ac652', endColorstr='#d9483b',GradientType=1 );
}

.graph-horizontal-hdl {
	background: #d9493b;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5NDkzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iI2Q5NDkzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU5JSIgc3RvcC1jb2xvcj0iIzk5YzY1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OWM2NTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #d9493b 0%, #d9493b 55%, #99c651 59%, #99c651 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d9493b), color-stop(55%,#d9493b), color-stop(59%,#99c651), color-stop(100%,#99c651));
	background: -webkit-linear-gradient(left,  #d9493b 0%,#d9493b 55%,#99c651 59%,#99c651 100%);
	background: -o-linear-gradient(left,  #d9493b 0%,#d9493b 55%,#99c651 59%,#99c651 100%);
	background: -ms-linear-gradient(left,  #d9493b 0%,#d9493b 55%,#99c651 59%,#99c651 100%);
	background: linear-gradient(to right,  #d9493b 0%,#d9493b 55%,#99c651 59%,#99c651 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9493b', endColorstr='#99c651',GradientType=1 );
}

/****************************************************************
 HIGH CONTRAST */

.high-contrast {
	background: $white;
	.barcode {
		opacity: 1.0;
		filter: alpha(opacity=100);
	}

	.headline .panel {
		background: $white;
		color: $black;
	}
	p, td, address, h1, h2, h3, h4, h5, h6, #patient-name { color: $black; }
	.highlight, .next-steps { border: 3px solid red; background: $white; color: $black; }
	.fixed-header {
		background: $black;
	}
	.joyride-content-wrapper p { color: $white; }
}

/****************************************************************
 LEGACY BROWSER WARNING */

.chromeframe {
	width: 100%;
	padding: 10px;
	background: $alertOn;
	text-align: center;
	color: $white;
	position: fixed;
	bottom: 0;
	a {
		color: $white;
		text-decoration: underline;
	}
}

/* See CREDITS.txt, LICENSE.txt, README.txt */
/* EOF */